html, body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 100%;
	margin: 0;
	background-image: url("../img/triangular.png");
}

a:hover
{
	text-decoration: none;
}

a:active
{
	opacity: 0.7;
}

header {
	background-color: #428bca;
	border-radius: 8px;
	line-height: 30px;
	padding: 5px;
	margin-bottom: 10px;
}

#exButton {
	position: absolute;
	width: 60px;
	text-align: center;
	right: 0;
	z-index: 1000;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0px 0px 2px black;
	margin-right: 5px;
}

#exButton img {
	width: 50%;
}

@keyframes quake
{
	0% {margin-top: 0;}
	25% {margin-top: 5px;}
	50% {margin-top: 0;}
	100% {margin-top: -5px;}
}

@-webkit-keyframes quake /* Safari and Chrome */
{
	0% {margin-top: 0;}
	25% {margin-top: 5px;}
	50% {margin-top: 0;}
	100% {margin-top: -5px;}
}

#exButton:hover
{
	-webkit-animation: quake 1.5s infinite; /* Chrome, Safari, Opera */
	animation: quake 1.5s infinite;
}

section {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 2px;
	box-shadow: 0px 0px 2px white;
	line-height: 30px;
	padding: 5px;
	margin-bottom: 10px;
}

header
{
	text-align: center;
}

#social_bar
{
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 20px;
	margin-top: 5px;
}

.social_element
{
	margin-left: 5px;
}

header a
{
	color: white;
}

header a:hover
{
	opacity: 0.8;
}

a:hover
{
	text-decoration: none;
}

#titre a
{
	font-size: 1.5em;
	text-transform: uppercase;
}

#menu
{
	margin: 0; padding: 0;
	font-size: 2em;
	margin-bottom: 10px;
}

#menu li
{
	display: inline-block;
	padding-bottom: 10px;
	background-color: #357ebd;
	height: 30px;
}

#menu li:hover
{
	outline: bottom 3px white solid;
}

#menu a
{
	display: inline-block;
	margin: 0 30px;
}

.case:hover
{
	height: 40px;
	border-bottom: 3px white solid;
}

#desc
{
	text-align: center;
}

#changelog
{
	text-align: left;
	font-size: 70%;
}

section
{
	font-size: 1.4em;
	text-shadow: 0px 2px 2px white;
}

section h1
{
	text-align: center;
}

#unique
{
	text-align: center;
}

figure
{
	display: inline-block;
	padding: 10px;
}

/* GAME_PAGE */

#achievements
{
	z-index: 8999;
	display: none;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.9);
	border: black 1px solid;
	position: fixed;
	text-align: center;
	height: 700px;
	padding: 10px;
	width: 700px;
	left: 50%;
	top: 50%;
	margin-top: -350px;
	margin-left: -350px;
}

.pop
{
	z-index: 8999;
	display: none;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.9);
	border: black 1px solid;
	position: fixed;
	text-align: center;
	height: 700px;
	padding: 10px;
	width: 700px;
	left: 50%;
	top: 50%;
	margin-top: -350px;
	margin-left: -350px;
}

.achImg
{
	padding: 2px;
	margin-bottom: 5px;
	background-color: white;
	border: 4px black double;
	border-radius: 120px;
	background: #5cb85c;
}

.achImg:hover
{
	opacity: 0.8;
}

.cross
{
	color: red;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}

.cross:hover
{
	opacity: 0.8;
}

#pop_up
{
	z-index: 9000;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.9);
	border: black 1px solid;
	position: fixed;
	text-align: center;
	height: 200px;
	padding: 10px;
	width: 500px;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -250px;
}

#pop_up button
{
	position: relative;
	margin-top: 40px;
}

#msg
{
	margin-bottom: 10px;
}

#buildings
{

}

.spriteLine
{
	line-height: 60px;
	border: 4px solid black;
	border-bottom: none;
}
.last
{
	border-bottom: 4px solid black;
}

#left
{
	height: 750px;
	text-align: center;
}

#left img:hover
{
	opacity: 0.8;
}

#left img:active
{
	opacity: 0.6;
}

#central
{
	text-align: center;

}

#msg
{
	border-bottom: 1px solid black;
}

#upgrade
{
	padding: 10px;
}

.square
{
	border-radius: 6px;
	margin-bottom: 10px;
	line-height: 60px;
	background-color: #428bca;
	text-shadow: 0px 2px 2px white;
	border: 1px solid #357ebd;
}

.square:hover
{
	background-color: #428bff;
}

.square:active
{
	background-color: #42abff;
}

#central_menu
{
	margin-top: 10px;
}

#central_menu .item
{
	background-color: #42abff;
}

#right
{
	height: 750px;
	overflow: auto;
}

#right img
{
	display: inline;
}

#save_button
{
	background-color: #FF8000;
	border-radius: 6px;
	text-align: center;
	margin-bottom: 10px;
}

#save_button img
{
	width: 20%;
	padding: 10px;
}

#save_button:hover
{
	opacity: 0.8;
}

#save_button:active
{
	background-color: green;
}

@keyframes flashDiv
{
	0% {opacity: 1;}
	50% {opacity: 0.7;}
	100% {opacity: 1;}
}

@-webkit-keyframes flashDiv /* Safari and Chrome */
{
	0% {opacity: 1;}
	50% {opacity: 0.7;}
	100% {opacity: 1;}
}

.crossBuilding
{
	color: red;
	z-index: 1000;
}

.worker_div
{
	margin-bottom: 5px;
	background-color: #428bca;
	border-color: #357ebd;
	border-radius: 6px;
}

.worker_div:hover
{
	-webkit-animation: flashDiv 0.8s ease-in infinite; /* Chrome, Safari, Opera */
	animation: flashDiv 0.8s ease-in infinite;
}

.worker_div:active
{

	background-color: #42abff;
}

.text
{
	color: white;
	text-shadow: none;
}

.infos
{
	font-size: 1.2em;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	border-radius: 6px;
	width: 90%;
	padding: 20px;
	margin: 0;
	display: inline-block;
	margin-bottom: 30px;
	vertical-align: middle;
}

a[data-tooltip] {
	position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
	position: absolute;
	display: none;
	opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
   content: attr(data-tooltip);
   background: #000;
   color: #fff;
   font-size: 20px;
   padding: 5px;
   border-radius: 5px;
   /* we don't want the text to wrap */
   white-space: nowrap;
   text-decoration: none;
}
a[data-tooltip]::after {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
	display: block;
}

/** positioning **/

/* left tooltip */
a[data-tooltip][data-placement="left"]::before {
	top: -25%;
	right: 100%;
	margin-right: 10px;
}

a[data-tooltip][data-placement="left"]::after {
	border-left-color: #000;
	border-right: none;
	top: 50%;
	right: 100%;
	margin-top: -6px;
	margin-right: 4px;
}

/* right tooltip */
a[data-tooltip][data-placement="right"]::before {
	top: -25%;
	left: 100%;
	margin-left: 10px;
}
a[data-tooltip][data-placement="right"]::after {
	border-right-color: #000;
	border-left: none;
	top: 50%;
	left: 100%;
	margin-top: -6px;
	margin-left: 4px;
}

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
	bottom: 100%;
	left: 0;
	margin-bottom: 28px;
}
a[data-tooltip][data-placement="top"]::after {
	border-top-color: #000;
	border-bottom: none;
	bottom: 100%;
	left: 10px;
	margin-bottom: 23px;
}

/* bottom tooltip */
a[data-tooltip][data-placement="bottom"]::before {
	top: 100%;
	left: 0;
	margin-top: 10px;
}
a[data-tooltip][data-placement="bottom"]::after {
	border-bottom-color: #000;
	border-top: none;
	top: 100%;
	left: 10px;
	margin-top: 4px;
}